*{
	margin: 0;
	padding: 0;
}


body{
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden; 
	background-image: linear-gradient(#FFFFFF, #ADD8E6);

}

/* Navbar */
nav{
	display: flex;
	background-color: lightblue;
	justify-content: space-around;
	padding: 13px 0;
	color: rgb(234, 292, 255);
}

nav.logo{
	font-family: sans-serif;
	letter-spacing: 3px;
}

nav ul{
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between; 
}

nav ul li a{
	color: rgb(234, 292, 255);
	text-decoration: none;
	font-size: 0.9em;
}

nav ul li a:hover{
	color: rgb(234, 292, 255);
}



/* Hum Menu*/
.menu-toggle{
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}


.menu-toggle input{
	position: absolute;
	width: 40px;
	height: 28px;
	left: -5px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-toggle span{
	display: block;
	width: 25px;
	height: 3px;
	background-color: rgb(234, 292, 255);
	border-radius: 3px;
	transition: all 0.5s;
}


/* Ham menu animation*/
.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}


.menu-toggle input:checked ~ span:nth-child(2){
	transform: rotate(45deg) translate(-1px, -1px);
}


.menu-toggle input:checked ~ span:nth-child(4){
	transform: rotate(-45deg) translate(0, -1.8px);
}

.menu-toggle input:checked ~ span:nth-child(3){
	opacity: 0;
	transform: scale(0);
}

/* Responsive */

/* Ukuran tablet */
@media screen and (max-width: 768px){
	nav ul{
		width: 50%;
	}
}

/* Ukuran mobile */
@media screen and (max-width: 576px){
	.menu-toggle{
		display: flex;
	}
	nav ul{
		position: absolute;
		right: 0;
		top: 0;
		width: 53%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		background-color: lightblue;
		z-index: -1;
		transform: translateX(100%);  
		transition: all 1s;
		opacity: 0;
	}

	nav ul.slide{
		opacity: 1;
		transform: translateX(0);
	}
}

.mengerjakan{
	margin-top: 20px;
	margin-left: 30px;
}

.button{
	background-color: rgb(255, 255, 255);
 	border: none;
 	color: rgb(#000000);
 	padding: 10px 20px;
 	text-decoration: none;
 	font-size: 16px;
 	margin-right: 80px;
 	cursor: pointer;
}